src/META-INF/wsdl/localhost_8086/capture/syncFilesService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.capture.gdit.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.capture.gdit.com/" name="syncFilesService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.capture.gdit.com/" schemaLocation="http://localhost:8086/capture/syncFilesService?xsd=1" />
</xsd:schema>
</types>
<message name="sync">
<part name="parameters" element="tns:sync" />
</message>
<message name="syncResponse">
<part name="parameters" element="tns:syncResponse" />
</message>
<message name="sendFile">
<part name="parameters" element="tns:sendFile" />
</message>
<message name="sendFileResponse">
<part name="parameters" element="tns:sendFileResponse" />
</message>
<message name="createFile">
<part name="parameters" element="tns:createFile" />
</message>
<message name="createFileResponse">
<part name="parameters" element="tns:createFileResponse" />
</message>
<message name="createSharedFile">
<part name="parameters" element="tns:createSharedFile" />
</message>
<message name="createSharedFileResponse">
<part name="parameters" element="tns:createSharedFileResponse" />
</message>
<message name="changeScannerSetting">
<part name="parameters" element="tns:changeScannerSetting" />
</message>
<message name="changeScannerSettingResponse">
<part name="parameters" element="tns:changeScannerSettingResponse" />
</message>
<message name="sendSetting">
<part name="parameters" element="tns:sendSetting" />
</message>
<message name="sendSettingResponse">
<part name="parameters" element="tns:sendSettingResponse" />
</message>
<message name="recieveFile">
<part name="parameters" element="tns:recieveFile" />
</message>
<message name="recieveFileResponse">
<part name="parameters" element="tns:recieveFileResponse" />
</message>
<message name="sendSystemOptions">
<part name="parameters" element="tns:sendSystemOptions" />
</message>
<message name="sendSystemOptionsResponse">
<part name="parameters" element="tns:sendSystemOptionsResponse" />
</message>
<message name="barcodeImages">
<part name="parameters" element="tns:barcodeImages" />
</message>
<message name="barcodeImagesResponse">
<part name="parameters" element="tns:barcodeImagesResponse" />
</message>
<message name="writeSystemOptions">
<part name="parameters" element="tns:writeSystemOptions" />
</message>
<message name="writeSystemOptionsResponse">
<part name="parameters" element="tns:writeSystemOptionsResponse" />
</message>
<message name="editProfile">
<part name="parameters" element="tns:editProfile" />
</message>
<message name="editProfileResponse">
<part name="parameters" element="tns:editProfileResponse" />
</message>
<portType name="syncFiles">
<operation name="sync">
<input wsam:Action="http://service.capture.gdit.com/syncFiles/syncRequest" message="tns:sync" />
<output wsam:Action="http://service.capture.gdit.com/syncFiles/syncResponse" message="tns:syncResponse" />
</operation>
<operation name="sendFile">
<input wsam:Action="http://service.capture.gdit.com/syncFiles/sendFileRequest" message="tns:sendFile" />
<output wsam:Action="http://service.capture.gdit.com/syncFiles/sendFileResponse" message="tns:sendFileResponse" />
</operation>
<operation name="createFile">
<input wsam:Action="http://service.capture.gdit.com/syncFiles/createFileRequest" message="tns:createFile" />
<output wsam:Action="http://service.capture.gdit.com/syncFiles/createFileResponse" message="tns:createFileResponse" />
</operation>
<operation name="createSharedFile">
<input wsam:Action="http://service.capture.gdit.com/syncFiles/createSharedFileRequest" message="tns:createSharedFile" />
<output wsam:Action="http://service.capture.gdit.com/syncFiles/createSharedFileResponse" message="tns:createSharedFileResponse" />
</operation>
<operation name="changeScannerSetting">
<input wsam:Action="http://service.capture.gdit.com/syncFiles/changeScannerSettingRequest" message="tns:changeScannerSetting" />
<output wsam:Action="http://service.capture.gdit.com/syncFiles/changeScannerSettingResponse" message="tns:changeScannerSettingResponse" />
</operation>
<operation name="sendSetting">
<input wsam:Action="http://service.capture.gdit.com/syncFiles/sendSettingRequest" message="tns:sendSetting" />
<output wsam:Action="http://service.capture.gdit.com/syncFiles/sendSettingResponse" message="tns:sendSettingResponse" />
</operation>
<operation name="recieveFile">
<input wsam:Action="http://service.capture.gdit.com/syncFiles/recieveFileRequest" message="tns:recieveFile" />
<output wsam:Action="http://service.capture.gdit.com/syncFiles/recieveFileResponse" message="tns:recieveFileResponse" />
</operation>
<operation name="sendSystemOptions">
<input wsam:Action="http://service.capture.gdit.com/syncFiles/sendSystemOptionsRequest" message="tns:sendSystemOptions" />
<output wsam:Action="http://service.capture.gdit.com/syncFiles/sendSystemOptionsResponse" message="tns:sendSystemOptionsResponse" />
</operation>
<operation name="barcodeImages">
<input wsam:Action="http://service.capture.gdit.com/syncFiles/barcodeImagesRequest" message="tns:barcodeImages" />
<output wsam:Action="http://service.capture.gdit.com/syncFiles/barcodeImagesResponse" message="tns:barcodeImagesResponse" />
</operation>
<operation name="writeSystemOptions">
<input wsam:Action="http://service.capture.gdit.com/syncFiles/writeSystemOptionsRequest" message="tns:writeSystemOptions" />
<output wsam:Action="http://service.capture.gdit.com/syncFiles/writeSystemOptionsResponse" message="tns:writeSystemOptionsResponse" />
</operation>
<operation name="editProfile">
<input wsam:Action="http://service.capture.gdit.com/syncFiles/editProfileRequest" message="tns:editProfile" />
<output wsam:Action="http://service.capture.gdit.com/syncFiles/editProfileResponse" message="tns:editProfileResponse" />
</operation>
</portType>
<binding name="syncFilesPortBinding" type="tns:syncFiles">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="sync">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="sendFile">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createFile">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createSharedFile">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="changeScannerSetting">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="sendSetting">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="recieveFile">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="sendSystemOptions">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="barcodeImages">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="writeSystemOptions">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="editProfile">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="syncFilesService">
<port name="syncFilesPort" binding="tns:syncFilesPortBinding">
<soap:address location="http://localhost:8086/capture/syncFilesService" />
</port>
</service>
</definitions>