src/META-INF/wsdl/192.168.1.1/lead/compressToTiff.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="compressFolder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="compressFolderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="compressFolderResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="compressFolderFullPath">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sourcePath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="targetPath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="compressFolderFullPathResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="compressFolderFullPathResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="compressImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="compressImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="compressImageResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="compressImageFullPath">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sourcePath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="targetPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="compressImageFullPathResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="compressImageFullPathResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="compressFolderSoapIn">
    <wsdl:part name="parameters" element="tns:compressFolder" />
  </wsdl:message>
  <wsdl:message name="compressFolderSoapOut">
    <wsdl:part name="parameters" element="tns:compressFolderResponse" />
  </wsdl:message>
  <wsdl:message name="compressFolderFullPathSoapIn">
    <wsdl:part name="parameters" element="tns:compressFolderFullPath" />
  </wsdl:message>
  <wsdl:message name="compressFolderFullPathSoapOut">
    <wsdl:part name="parameters" element="tns:compressFolderFullPathResponse" />
  </wsdl:message>
  <wsdl:message name="compressImageSoapIn">
    <wsdl:part name="parameters" element="tns:compressImage" />
  </wsdl:message>
  <wsdl:message name="compressImageSoapOut">
    <wsdl:part name="parameters" element="tns:compressImageResponse" />
  </wsdl:message>
  <wsdl:message name="compressImageFullPathSoapIn">
    <wsdl:part name="parameters" element="tns:compressImageFullPath" />
  </wsdl:message>
  <wsdl:message name="compressImageFullPathSoapOut">
    <wsdl:part name="parameters" element="tns:compressImageFullPathResponse" />
  </wsdl:message>
  <wsdl:portType name="compressToTiffSoap">
    <wsdl:operation name="compressFolder">
      <wsdl:input message="tns:compressFolderSoapIn" />
      <wsdl:output message="tns:compressFolderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="compressFolderFullPath">
      <wsdl:input message="tns:compressFolderFullPathSoapIn" />
      <wsdl:output message="tns:compressFolderFullPathSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="compressImage">
      <wsdl:input message="tns:compressImageSoapIn" />
      <wsdl:output message="tns:compressImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="compressImageFullPath">
      <wsdl:input message="tns:compressImageFullPathSoapIn" />
      <wsdl:output message="tns:compressImageFullPathSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="compressToTiffSoap" type="tns:compressToTiffSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="compressFolder">
      <soap:operation soapAction="http://tempuri.org/compressFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="compressFolderFullPath">
      <soap:operation soapAction="http://tempuri.org/compressFolderFullPath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="compressImage">
      <soap:operation soapAction="http://tempuri.org/compressImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="compressImageFullPath">
      <soap:operation soapAction="http://tempuri.org/compressImageFullPath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="compressToTiffSoap12" type="tns:compressToTiffSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="compressFolder">
      <soap12:operation soapAction="http://tempuri.org/compressFolder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="compressFolderFullPath">
      <soap12:operation soapAction="http://tempuri.org/compressFolderFullPath" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="compressImage">
      <soap12:operation soapAction="http://tempuri.org/compressImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="compressImageFullPath">
      <soap12:operation soapAction="http://tempuri.org/compressImageFullPath" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="compressToTiff">
    <wsdl:port name="compressToTiffSoap" binding="tns:compressToTiffSoap">
      <soap:address location="http://192.168.1.1/lead/compressToTiff.asmx" />
    </wsdl:port>
    <wsdl:port name="compressToTiffSoap12" binding="tns:compressToTiffSoap12">
      <soap12:address location="http://192.168.1.1/lead/compressToTiff.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>