src/META-INF/compressToTiff.asmx.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/encoding/client" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/transport/client">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="compressFolder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="compressFolderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="compressFolderResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="compressFolderSoapIn">
    <wsdl:part name="parameters" element="tns:compressFolder" />
  </wsdl:message>
  <wsdl:message name="compressFolderSoapOut">
    <wsdl:part name="parameters" element="tns:compressFolderResponse" />
  </wsdl:message>
  <wsdl:portType name="compressToTiffSoap">
    <wsdl:operation name="compressFolder">
      <wsdl:input message="tns:compressFolderSoapIn" />
      <wsdl:output message="tns:compressFolderSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="compressToTiffSoap" type="tns:compressToTiffSoap">
    <wsp:PolicyReference URI="#compressToTiffSoapPolicy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="compressFolder">
      <soap:operation soapAction="http://tempuri.org/compressFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="compressToTiffSoap12" type="tns:compressToTiffSoap">
    <wsp:PolicyReference URI="#compressToTiffSoap12Policy"/>
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="compressFolder">
      <soap12:operation soapAction="http://tempuri.org/compressFolder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="compressToTiff">
    <wsdl:port name="compressToTiffSoap" binding="tns:compressToTiffSoap">
      <soap:address location="http://localhost/lead/compressToTiff.asmx" />
    </wsdl:port>
    <wsdl:port name="compressToTiffSoap12" binding="tns:compressToTiffSoap12">
      <soap12:address location="http://localhost/lead/compressToTiff.asmx" />
    </wsdl:port>
  </wsdl:service>
  <wsp:Policy wsu:Id="compressToTiffSoapPolicy">
    <wsp:ExactlyOne>
      <wsp:All>
        <fi:AutomaticallySelectOptimalEncoding/>
        <tcp:AutomaticallySelectOptimalTransport/>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="compressToTiffSoap12Policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <tcp:AutomaticallySelectOptimalTransport/>
        <fi:AutomaticallySelectOptimalEncoding/>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
</wsdl:definitions>